*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
*.ipch
*.obj
*.pdb
*.idb
*.aps
*.ncb
*.opendb
*.tlog
*.log
*.vspscc
*.vssscc
*.cache
*.ilk
*.iobj
*.ipdb
*.res
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.dbmdl
*.bak
*.backup
*.BSC
*.sbr
*.scc

*.exe
*.dll
*.lib
*.app
*.out
*.o
*.obj

.DS_Store
Thumbs.db

*.a
*.gch 